.main { 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    margin: auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1%;   
    width: 50%;
    height: 69%;
}

.responseMessage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    margin: auto;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1%;  
    width: 25%;
    height: 9%; 
    text-align: center;
}

.cButton {
    margin-top: 3%;
    margin-bottom: 3%;
}

.heading {
    margin-top: 3%;
    margin-bottom: 3%;
}